*{
    text-decoration: none;
}
.navbar
{
    background-color: crimson;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo a{
    font-size: 35px;font-width:600px;color: white;
}
li{
    list-style: none;
    display: inline-block;
}
li a{
    color:white;
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
}
ul li a:hover{
    background-color: rgba(73, 143, 155, 0.226);
       
 }